<div class="filters-component">
  <strong>Number of decks to draw from:</strong>
  <mat-form-field>
    <input matInput
    [(ngModel)]="selectedFilters.numDecks"
    value="1"
    >
  </mat-form-field>
  <strong>Select suits:</strong>
  <mat-form-field>
    <mat-select
      [(ngModel)]="selectedFilters.suits"
      multiple
    >
      <mat-option value="spade">spade</mat-option>
      <mat-option value="heart">heart</mat-option>
      <mat-option value="club">club</mat-option>
      <mat-option value="diamond">diamond</mat-option>
    </mat-select>
  </mat-form-field>

  <strong>
    Max card value: {{this.playingCardsService.mapIndexToCardValue(selectedFilters.maxCardValue)}}
  </strong>
  <mat-slider
    [(ngModel)]="selectedFilters.maxCardValue"
    thumbLabel
    tickInterval="1"
    min="0"
    max="12"
    step="1"
    value="1"
    [displayWith]="playingCardsService.mapIndexToCardValueShort"
  ></mat-slider>

  <strong>
    Min card value: {{this.playingCardsService.mapIndexToCardValue(selectedFilters.minCardValue)}}
  </strong>
  <mat-slider
    [(ngModel)]="selectedFilters.minCardValue"
    thumbLabel
    tickInterval="1"
    min="0"
    max="12"
    step="1"
    value="1"
    [displayWith]="playingCardsService.mapIndexToCardValueShort"
  ></mat-slider>

  <strong>Hand size to draw: {{selectedFilters.cardsInHand}} cards</strong>
  <mat-slider
    [(ngModel)]="selectedFilters.cardsInHand"
    thumbLabel
    tickInterval="1"
    min="1"
    max="{{this.calcMaxHandSize(selectedFilters)}}"
    step="1"
    value="1"
  ></mat-slider>

  <ng-container *ngFor="let e of error">
    <strong style="color: red">*{{ e }}</strong>
  </ng-container>

  <button mat-raised-button color="accent" (click)="setFilter()">Draw Hand</button>
</div>

